---
layout: landing-page
---		
		<!-- Main -->
			<article id="main">

				<header class="special container">
					<span class="icon fa-bar-chart-o"></span>
					<h2>&#x28;q&#x29;<strong>UI Excel</strong>, spazio virtuale
					<br /><span id="gris">dove hai l'opportunit&agrave; di imparare facilmente Excel&#x2604;</span>
					</h2>
					<p>Qui trovi lezioni strutturate per darti una base forte al miglior uso di Excel.
					<br />
					<b>Arricchisci</b> le tue conoscenze con esempi pratici e <b>acquisisci</b> gradualmente la padronanza di Excel per lavorare in allegria...
		
					<a href="https://www.youtube.com/channel/UCbGamSKCUMVbx5RQ58xH2Qg">Inizia subito</a>
					</p>
				</header>
					
				<!-- One -->
					<section class="wrapper style2 container special-alt">
						<div class="row half">
							<div class="8u">
						<header>
							<h2 style="text-align: center"><strong ><span id="res">s</span><span id="cre">m</span><span id="col">art</span> Ui Excel</strong></h2>
						</header>	
						
  <div id="myCarousel" class="carousel slide text-center" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner" role="listbox">
      <div class="item active">
        <h4><span id="res">Semplifica</span><br><span style="font-style:normal;">Il tuo lavoro sempre pi&ugrave; Semplice</span></h4>
      </div>
      <div class="item">
        <h4><span id="cre">Migliorar&#126;Si</span><br><span style="font-style:normal;">...Essere pi&ugrave; performante</span></h4>
      </div>
      <div class="item">
        <h4><span id="col">Automatizza</span><br><span style="font-style:normal;">Risparmia Tempo e guadagna Produttivit&agrave;</span></h4>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>
							
							<!--/div-->
							<div class="4u skel-cell-important">
							
								<ul class="featured-icons">
									<li><span class="icon fa-clock-o"><span class="label">Feature 1</span></span></li>
									<li><span class="icon fa-volume-up"><span class="label">Feature 2</span></span></li>
									<li><span class="icon fa-laptop"><span class="label">Feature 3</span></span></li>
									<li><span class="icon fa-inbox"><span class="label">Feature 4</span></span></li>
									<li><span class="icon fa-lock"><span class="label">Feature 5</span></span></li>
									<li><span class="icon fa-cog"><span class="label">Feature 6</span></span></li>
								</ul>
							
							</div>				
						</div>
					</section>
					
				<!-- Two -->

					
				<!-- Three -->
					<section class="wrapper style3 container special">
					
						<header class="major">
							<h2><strong>Lezioni recenti</strong></h2>
						</header>
					<div class='container'>
						<div class="row">
							<div class="col-md-6 col-sm-10 col-xs-12">
							
								<section>
					
								{% for post in site.posts limit:1 %}
													       
								{{ post.excerpt}}
								</br>
								 <h4><a href="{{ post.url }}" class="button">continua...</a></h4>						     
								{% endfor %}
							
								</section>


							</div>
							<div class="col-md-6 col-sm-10 col-xs-12">
							
								<section>
									{% for post in site.posts offset:1 limit:1 %}
										{{post.excerpt }}
									</br>
									<h4><a href="{{ post.url }}" class="button">continua...</a></h4>						     
									{% endfor %}	
								</section>

							</div>
						</div>
					</div>
					<div class='container'>
						<div class="row">
							<div class="col-md-6 col-sm-10 col-xs-12">
							
								<section>
									{% for post in site.posts offset:2 limit:1 %}
										{{post.excerpt }}
									</br>
									<h4><a href="{{ post.url }}" class="button">continua...</a></h4>						     
									{% endfor %}		
								</section>

							</div>
							<div class="col-md-6  col-sm-10 col-xs-12">
							
								<section>
										{% for post in site.posts offset:3 limit:1 %}
										{{ post.excerpt }}
									</br>
									<h4><a href="{{ post.url }}" class="button">continua...</a></h4>						     
									{% endfor %}	
									
								</section>

							</div>
						</div>
					</div>
						<footer class="major">
							<ul class="buttons">
								<li><a href="https://www.youtube.com/channel/UCbGamSKCUMVbx5RQ58xH2Qg" alt="Ui Excel Youtube Channel" class="button">Accedi a tutte le lezioni</a></li>
							</ul>
						</footer>
					
					</section>
					
			</article>

